.user-content[data-v-89282645] {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 66%;
  padding-bottom: 8px;
}
.divider[data-v-89282645] {
  width: 1px;
  height: 60px;
  margin-top: 70px;
  background: #fff;
  opacity: 0.3;
}
.user[data-v-89282645] {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 16%;
}
.user-image[data-v-89282645] {
  font-style: oblique;
  border-radius: 60px;
  fill: var(--ti-common-color-line-active);
}
.space[data-v-89282645] {
  height: 10px;
}
.head-image[data-v-89282645] {
  margin-top: 6px;
  padding-right: 10px;
}
.user-name[data-v-89282645] {
  padding-left: 26px;
  color: #fff;
  font-weight: 600;
  font-size: large;
}
.margin-bottom[data-v-89282645] {
  margin-top: 30px;
  margin-bottom: 30px;
}
.col[data-v-89282645] {
  color: #fff;
}
@media (max-width: 992px) {
.margin-bottom[data-v-89282645] {
    margin-top: 10px;
    margin-bottom: 12px;
}
}
@media (max-width: 1024px) {
.margin-bottom[data-v-89282645] {
    margin-top: 10px;
    margin-bottom: 12px;
}
}
@media (max-width: 1208px) {
.user[data-v-89282645] {
    width: 25%;
}
}
